* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 1rem;
    margin-top: 1rem;
}

li {
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 10rem;
}

h1 {
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

input[name="q"] {
    border-radius: 15px;
    height: 2rem;
    width: 20rem;
    text-indent: 1rem;
    border: 2px solid lightgrey;
}

#adv_form {
    display: flex;
    width: max-content;
    align-items:flex-end;
}

h2 {
    width: 100%;
    font-weight: 500;
    margin-bottom: .5rem;
}

.adv_opt {
    display: flex;
    justify-content: left;
    margin: .5rem 0;
    align-items: center;
}

label {
    width: 11rem;
    margin-right: 1rem;
    text-align: start;
    font-size: 1rem;
}

input[name="all"], 
input[name="exact"], 
input[name="any"], 
input[name="none"]{
    width: 30rem;
    height: 2rem;
    font-size: 1rem;
    text-indent: .5rem;
}

input[type="submit"] {
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    border: 1px solid lightgrey;
}

input[value="Advanced Search"] {
    background-color: cornflowerblue;
    width: 10rem;
}