* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 1rem;
    margin-right: 2rem;
}

li {
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 10rem;
}

h1 {
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

input[name="q"] {
    border-radius: 15px;
    height: 2rem;
    width: 20rem;
    text-indent: 1rem;
    border: 2px solid lightgrey;
}

#adv_main {
    margin-top: 3rem;
}

#adv_h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: xx-large;
}

#adv_form_head {
    width: 100%;
}

h3 {
    font-weight: 500;
    margin: 1rem 3rem;
    color: indianred;
}

#line {
    width: 100%;
    border: 1px solid black;
}

#adv_container {
    width: 100%;
    display: flex;
    justify-content: left;
}

#adv_form {
    width: 100%;
    display: flex;
    width: max-content;
    align-items:flex-end;
    margin: 2rem 3rem;
}

h2 {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: .5rem;
}

.adv_opt {
    display: flex;
    justify-content: left;
    margin: .5rem 0;
    align-items: center;
}

label {
    width: 11rem;
    margin-right: 1rem;
    text-align: start;
    font-size: 1rem;
}

input[name="all"], 
input[name="exact"], 
input[name="any"], 
input[name="none"]{
    width: 40rem;
    height: 2rem;
    font-size: 1rem;
    text-indent: .5rem;
}

input[type="submit"] {
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    border: 1px solid lightgrey;
}

input[value="Advanced Search"] {
    background-color: cornflowerblue;
    width: 10rem;
}