* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 1rem;
    margin-top: 1rem;
}

li {
    margin-right: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 10rem;
}

h1 {
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

input[name="q"] {
    border-radius: 15px;
    height: 2rem;
    width: 20rem;
    text-indent: 1rem;
    border: 2px solid lightgrey;
}

input[type="submit"] {
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    border: 1px solid lightgrey;
}

input[value="Advanced Search"] {
    background-color: cornflowerblue;
    width: 10rem;
}